<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="CartController.js"></script>
</head>
<body ng-controller="CartController">
	<h1>Header 1 here</h1>
	<div ng-repeat='item in items'>
		<span>{{item.title}}</span>
		<input ng-model='item.quantity'>
		<span>{{item.price | currency}}</span>
		<span>{{item.price * item.quantity | currency}}</span>
		<button ng-click="remove($index)">remove</button>
	</div>	
</body>
</html>