<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Sign up</h1>
	<form name='addUserForm' ng-controller ='AddUserController'>
		<div>First Name: <input ng-model='user.first' required></div>
		<div>Last Name: <input ng-model='user.last' required></div>
		<div>Email: <input type='email' ng-model='user.email' required></div>
		<div>Age:<input type='number' ng-model='user.age' ng-maxlength='3' ng-minlength='1'></div>
		<div><button ng-disabled='!addUserForm.$valid'>Submit</button></div>
	</form>
</body>
</html>