<!DOCTYPE html>
<html ng-app="basket">
<head>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script type="text/javascript" src="./app.js"></script>
  <title>Your Shopping Cart</title>
</head>
<body ng-controller='CartController as cart'>
<h1>Your Shopping Cart</h1>
<div ng-repeat='item in cart.items'>
  <span>{{item.title}}</span>
  <input ng-model='item.quantity'>
  <span>{{item.price | currency}}</span>
  <span>{{item.price * item.quantity | currency}}</span>
  <button ng-click="cart.remove($index)">Remove</button>
</div>
</body>
</html>